@mixin svgGlitch($name, $intensity, $fillColor, $offset) {
  @at-root {
    @keyframes #{$name}-anim-2 {
      @for $i from 0 through $intensity {
        $top: random(100);
        $bottom: random(101 - $top);
        #{percentage($i*(1/$intensity))} {
          clip-path: inset(#{$top}% 0 #{$bottom}% 0);
        }
      }
    }
  }
  svg:nth-child(2) {
    transform: translate($offset, -50%);
    animation: #{$name}-anim-2 10s infinite steps(4) normal;
  }
}

.AboutSection {
  min-height: 100vh;
  cursor: default;
  font-size: 4rem;
  font-weight: 400;
  padding: 4rem 0;
}
.Title {
  font-size: 4rem;
  font-weight: 700;
  max-width: 56rem;
  margin-bottom: 8rem;
  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }
}
.Container {
  position: relative;
  min-height: 32rem;
  margin-bottom: 80px;
  .Text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .Image {
    position: absolute;
    z-index: -1;
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    fill: var(--color-background-lighter);
    width: 70%;
  }
  .ImageContainer {
    @include svgGlitch('glitch', 20, var(--color-background-lighter), -5px);
  }
}
.ContainerSecondary {
  @extend .Container;
  &:last-child .Text {
    position: absolute;
    right: 0;
    text-align: right;
    width: 40rem;
    max-width: 70%;
  }
  .Image {
    width: 50%;
    max-width: 450px;
    left: 0;
  }
}
