.Statistics {
  font-size: 4rem;
  padding: 8rem 0;
  display: flex;
  justify-content: space-around;
  .Item{
    max-width: 20rem;
    margin: 2rem;
    line-height: 0.9;
    .Number {
      font-size: 5rem;
      display: block;
    }
    &:nth-child(2) .Number{
      transform: translateX(-0.5rem);
    }
  } 
  margin-bottom: 16rem;
}
