.Statistics {
  font-size: 4rem;
  padding: 8rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230e0f25' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  .Item {
    max-width: 20rem;
    margin: 2rem;
    line-height: 0.9;
    .Number {
      font-size: 5rem;
      display: block;
    }
    &:nth-child(2) .Number {
      transform: translateX(-0.5rem);
    }
  }
  margin-bottom: 16rem;
}
