.BackgroundName {
  --animation-duration: 25s;

  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  font-size: 100vh;
  font-weight: 700;
  color: var(--color-background-lighter);
  line-height: 0.8;
  height: 100vh;
  min-height: 500px;
  text-align: center;
}
.FirstName {
  font-size: 100%;
  display: block;
  font-size: 0.6em;
  animation: floatLeft ease-in-out none infinite normal;
  animation-duration: var(--animation-duration);
}
.LastName {
  padding-left: 1ch; /* Compensate for different number of letters  */
  display: block;
  font-size: 0.6em;
  animation: floatRight ease-in-out none infinite reverse;
  animation-duration: var(--animation-duration);
}
@keyframes floatLeft {
  0% {
    transform: translateX(-10vw);
  }
  50% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(-10vw);
  }
}
@keyframes floatRight {
  0% {
    transform: translateX(15vw);
  }
  50% {
    transform: translateX(25vw);
  }
  100% {
    transform: translateX(15vw);
  }
}
