.Container {
  box-sizing: border-box;
  max-width: 1650px;
  margin: auto;
  padding: 0 2rem;
}
.Cursor {
  z-index: 10000;
  position: fixed;
  transition: all ease-out 0.2s;
  width: 32px;
  height: 32px;
  fill: var(--color-1);
  pointer-events: none;
  transform: translate(50vw, 50vh);
  opacity: 0;
  @media (pointer: none) {
    display: none;
  }
  &.cursorHidden {
    opacity: 0 !important;
  }
}
.Progress {
  z-index: 5000;
  position: fixed;
  width: 8vh;
  min-width: 4rem;
  min-height: 4rem;
  height: 8vh;
  right: 4rem;
  top: 4rem;
  fill: none;
  stroke-dasharray: 64;
  stroke-dashoffset: 64;
  stroke: var(--color-1);
  stroke-width: 3px;
}
