.Container {
  box-sizing: border-box;
  max-width: 1650px;
  margin: auto;
  padding: 0 2rem;
  
  p {
    font-size: 1.5rem;
  }
  a {
    &:hover {
      color: #575a8e;
    }
  }
}
.Spacer{
  min-height: 80vh;
  padding-top: 3rem;
}