@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/futura\ medium\ bt.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/Futura\ Heavy\ font.ttf');
  font-weight: 700;
}

:root {
  --color-background: #060719;
  --color-background-lighter: #0b0c1e;
  font-size: 16px;
  font-family: 'Futura', Arial, Helvetica, sans-serif;
  @media screen and (max-width: 768px) {
    font-size: 8px;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color-background);
  color: #fff;
}