.Container {
  box-sizing: border-box;
  max-width: 1650px;
  margin: auto;
  padding: 0 6rem;
  @media screen and (max-width: 768px) {
    padding: 0 3rem;
  }
}
.Cursor {
  z-index: 10000;
  position: fixed;
  transition: all ease-out 0.2s;
  width: 32px;
  height: 32px;
  fill: white;
  pointer-events: none;
  transform: translate(50vw, 50vh);
  opacity: 0;
  @media (pointer: none) {
    display: none;
  }
}
.Progress {
  z-index: 5000;
  position: fixed;
  width: 4rem;
  height: 4rem;
  right: 4rem;
  top: 4rem;
  fill: none;
  stroke-dasharray: 64;
  stroke-dashoffset: 64;
  stroke: white;
  stroke-width: 3px;
}
