.BackgroundName {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  font-size: 100vh;
  font-weight: 700;
  letter-spacing: -0.025em;
  -webkit-text-stroke: 4px var(--color-background-lighter);
  color: transparent;
  line-height: 0.8;
  height: 100vh;
  min-height: 500px;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 30rem;
    height: unset;
    min-height: unset;
    top: 50%;
    transform: translateY(-50%);
    .FirstName {
      margin-bottom: 0.5em;
    }
  }
}
.FirstName {
  font-size: 100%;
  display: block;
  font-size: 0.6em;
}
.LastName {
  padding-left: 0.25ch; /* Compensate for different number of letters  */
  display: block;
  font-size: 0.6em;
}
