.Button {
  height: 60px;
  min-width: 60px;
  position: absolute;
  bottom: 5vh;
  left: 2rem;
  cursor: pointer;
  z-index: 10;
  background: none;
  border: 2px solid #575a8e;
  box-sizing: border-box;
  text-align: center;
  transition: border-color ease-in-out 0.2s, border ease-in-out 0.2s,
    padding ease-in-out 0.2s, max-width ease-in-out 0.2s, width ease-in-out 0.2s,
    transform ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: inherit;
  max-width: min-content;
  max-width: intrinsic; // this makes it work in safari
  overflow: hidden;
  text-decoration: none;
  &.Hovered {
    background: none;
    padding: 0 1.5rem;
    width: 100%;
    border-color: var(--color-1);
    span {
      display: block;
      white-space: nowrap;
      color: var(--color-1);
      transform: translateY(-10%);
      margin-left: 2ch;
      max-width: 100%;
      line-height: 1;
    }
    .Icon {
      fill: var(--color-1);
    }
  }
}
.Icon {
  fill: #575a8e;
  width: 36px;
  display: block;
  transition: all ease-in-out 0.1s;
}
.Link {
  display: contents;
}
