.Hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.DividerFade {
  position: absolute;
  user-select: none;
  bottom: -2rem;
  left: 0;
  transform: translateY(70%);
  width: 100%;
  min-height: 40vh;
  mix-blend-mode: luminosity;
  z-index: -1;
  object-fit: cover;
}

.CenterText {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  white-space: nowrap;
  cursor: default;
  span {
    display: block;
    z-index: 10;
    &:first-child {
      transform: translateX(-5%);
    }
    &:last-child {
      transform: translateX(5%);
    }
  }
}
