.Header {
  display: flex;
  justify-content: space-between;
  max-width: calc(100vw - 4rem);
  font-size: 2rem;
  z-index: 1000;
  width: 100%;
  position: absolute;
  top: 1rem;
  margin: 0;
  a {
    color: var(--color-1);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: #575a8e;
    }
  }
  li {
    display: block;
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }
  }
}
a.BlogLink {
  cursor: not-allowed;
  opacity: 0.5;
  width: 4ch;
  &:hover {
    color: var(--color-1);
  }
}
.alignRight {
  width: 100%;
  text-align: right;
}
