.Highlight {
  position: relative;
  color: var(--color-background);
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  clip-path: polygon(-5% 0, 99% 0%, 99% 78%, -5% 78%);
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: -1rem;
    background-color: white;
    min-width: 110%;
    width: 110%;
    height: 110%;
    z-index: -1;
  }
}
.Highlight_1 {
  @extend .Highlight;
  animation-name: Highlight-1;
  clip-path: polygon(-5% 0, 99% 0%, 99% 78%, -5% 78%);
  animation-duration: 12s;
}
.Highlight_2 {
  @extend .Highlight;
  animation-name: Highlight-2;
  clip-path: polygon(-15% 0, 99% 0%, 99% 78%, -15% 78%);
  animation-duration: 15s;
}
.Highlight_3 {
  @extend .Highlight;
  animation-name: Highlight-3;
  clip-path: polygon(-5% 10%, 99% 10%, 99% 90%, -5% 90%);
  animation-duration: 20s;
}
@keyframes Highlight-1 {
  0% {
    clip-path: polygon(-5% 0, 99% 0%, 99% 78%, -5% 78%);
  }
  30% {
    clip-path: polygon(-2% 0, 102% 0%, 102% 80%, -2% 80%);
  }
  60% {
    clip-path: polygon(-7% 2%, 99% 2%, 99% 75%, -7% 75%);
  }
  100% {
    clip-path: polygon(2% 15%, 105% 15%, 105% 85%, 2% 85%);
  }
}
@keyframes Highlight-2 {
  0% {
    clip-path: polygon(-15% 0, 99% 0%, 99% 78%, -15% 78%);
  }
  30% {
    clip-path: polygon(-10% 10%, 99% 10%, 99% 90%, -10% 90%);
  }
  50% {
    clip-path: polygon(0% 10%, 120% 10%, 120% 90%, 0% 90%);
  }
  90% {
    clip-path: polygon(-5% 10%, 100% 10%, 100% 80%, -5% 80%);
  }
}
@keyframes Highlight-3 {
  0% {
    clip-path: polygon(-5% 10%, 99% 10%, 99% 90%, -5% 90%);
  }
  30% {
    clip-path: polygon(-5% 10%, 105% 10%, 105% 95%, -5% 95%);
  }
  70% {
    clip-path: polygon(0% -5%, 105% -5%, 105% 75%, 0% 75%);
  }
}
.Color {
  color: hsl(237, 24%, 45%);
  font-weight: 700;
}
.Outline {
  color: transparent;
  -webkit-text-stroke: 1.5px hsl(237, 24%, 45%);
  font-weight: 700;
}

@mixin Glitch($name, $intensity, $fillColor) {
  @at-root {
    @keyframes #{$name}-anim-2 {
      @for $i from 0 through $intensity {
        $top: random(100);
        $bottom: random(101 - $top);
        #{percentage($i*(1/$intensity))} {
          clip-path: inset(#{$top}% 0 #{$bottom}% 0);
        }
      }
    }
  }
  animation: #{$name}-anim-2 10s infinite steps(4) normal;
}

.Glitch {
  position: relative;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 0;
  &::before {
    content: attr(data-text);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    line-height: initial;
    z-index: -1;
  }
  &::before {
    @include Glitch('glitch-left', 20, var(--color-background-lighter));
    left: -0.75px;
  }
}
